
  .App-header {  
    position:absolute;
    background-color: #F7A8B4; 
    background-image: linear-gradient(to right, #F7A8B4 , #F7A8B4); 
    height:108px; 
    box-shadow: 0 3px 3px rgba(57, 63, 72, 0.3);
    position:fixed;
    text-align: center;
    margin: -20px 0px ;
  
  }
  html {
    position: relative;
    min-height: 100%;
   }
   
  .button1 {
    
    background-color: #76DEBA; 
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 23px;
    margin: 1% 2%;
    padding: 9px ;
    cursor: pointer;
    border-radius: 12px;
    box-shadow: 2px 3px 3px rgba(57, 63, 72, 0.3);
   
  }

  .button2 {
    background-color: #76DEBA; 
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 1% 0.5%;
    padding: 9px;
    cursor: pointer;
    border-radius: 12px;
    box-shadow: 2px 3px 3px rgba(57, 63, 72, 0.3);
  }
  
  
  
  input[type=text1] {
    position:absolute;
    width: 50%;
    float:right;
    padding: 12px 20px;
    margin: -35px -400px;
    border: none;
    background-color: #FFFF;
    border-radius: 18px;
    box-shadow: 2px 2px 2px rgba(57, 63, 72, 0.3);
    width: 795px;
    height: 35px;
  }
  .boxheader{
    margin: 30px 0px 0px 1500px;

  }

  .search_icon1{
    position:absolute;
    padding: 0.99% 1.2%;
    position: inherit;
    margin: 0px 0px 0px 0px -50px ;
    color: white;
   
  }
  .searchbarbox{
    position:absolute;
    margin: -35px 1420px ;
    background-color: #76DEBA; 
    width: 69px;
    height: 35px;
    border-radius: 80px;
    color: white;

    
  }
  .searchbarbox1{
    position:absolute;
    margin: 5px 0px 0px 22px ;
 

    
  }
  .SearchBox-icon{
    padding: 5% 10%;
  }
  
  .body{
  padding:auto;
  margin:auto;
  height:100%;
  
  
  
  }
  
  .Logo{
    
    background-image: url('./asset/logoSE.jpg');
  
    
  }
  
  
  .App-logo{
    position: fixed;
    float: left;
  }
  .App-logo1{
    position:absolute;
    margin: -195px 80px;
  }
  .material-icons{
    color: white;
  }
  
